/* *{
    margin: 0;
    padding: 0; 
} */
.Navbar-main{
    width: 100%;
    height: 50px;
    /* padding: 24px 8px 24px 8px; */
    /* gap: 10px; */
    background-color: white;
    display: flex;
    justify-content:space-between;
    padding: 12px 0px;
}
.Left-content{
    display: flex;
    justify-content: space-evenly;
    width: 492px;
    height: 45px;
    gap: 10px;
}
.logo{
    width: 158px;
    height: 45px;
}
.options{
    display: flex;
}
.navbar-options{
    width: 55px;
    height: 19px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    margin-top: 15px;
    
}
.down{
    width: 24px;
    height: 24px;
    padding: 8.5px 10px 8px 6px;
    margin-top: 5px;
    margin-left: 10px;
}
.Right-content{
    width: 360px;
    height: 40px;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
}
.search{
    width: 24px;
    height: 24px;
    padding: 3px;
    margin-top: 10px;
}
.login{
    width: 50px;
    height: 15px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: black;
    margin-top: 10px;

}
.join{
    width: 166px;
    height: 40px;
    /* padding: 10px 42px 10px 42px; */
    border: none;
    border-radius: 52px;
    background: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;

}