@font-face {
    font-family: Raleway;
    src: url("C:\Users\harik\Downloads\web-app\src\Components\Raleway,Roboto\Raleway\static\Raleway-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("C:\Users\harik\Downloads\web-app\src\Components\Raleway,Roboto\Roboto\Roboto-Regular.ttf");
}


*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.main{
    display: flex;
    justify-content: space-evenly;
    background-image: url("/src/Components/assets/background.png");
    width: 100%;
    height: 100%;
}
.side-bar{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 600px;
    position: absolute;
    top: 72px;
    left: 10px;
    gap: 48px;
    padding: 60px;
}
.header{
    width: 720px;
    height: 148px;
    /* justify: space-between; */
    font-family: Raleway;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    color: white;
}
.benefits{
    display: flex;
    justify-content: space-evenly;
    width:799px;
    height: 530px;
    position: absolute;
    top: 210px;
    left: 10px;
}
.benefits-images{
    display: flex;
    flex-direction: column;
}
.benefits-image{
    width: 68px;
    height: 68px;
    padding: 12px;

}
.benefits-texts{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.benefit-text{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    color: white;
    padding: 27px;
}
.highlight{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    color: hsla(205, 100%, 50%, 1);
}
.total{
    text-decoration:  line-through  hsla(0, 100%, 50%, 1);
    font-family: "Roboto";
}
.discount{
    font-family: Roboto;
    font-size: 56px;
    font-weight: 600;
    text-align: left;
    color: hsla(205, 100%, 50%, 1);
}